:root {
  /* smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 14px;

  /* Colors */
  --color-gray-100: #27272a;
  --color-gray-200: #202124;
  --color-silver: #c6c6c6;
  --color-white: #fff;
  --color-darkslategray: #414144;
  --color-darkgray: #a1a1aa;
  --color-lightgray: #d3d3d3;

  /* Paddings */
  --padding-xs: 12px;
  --padding-md: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// body {
//   overflow-y: hidden; /* Hide vertical scrollbar */
//   overflow-x: hidden; /* Hide horizontal scrollbar */
// }

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

svg {
  display: block;
}

.pending {
  opacity: 20%;
  pointer-events: none;
}

.hidden {
  opacity: 0;
}
