.add {
  position: relative;
  width: 24px;
  height: 24px;

  svg {
    position: relative;
    z-index: 2;
  }
}

.addBG {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  background-color: var(--color-gray-200);
}

.connLineLeft {
  position: absolute;
  z-index: 0;
  left: -8px;
  top: 50%;
  height: 1px;
  width: 12px;
  background-color: #c6c6c6;
}

.connLineUp {
  position: absolute;
  z-index: 0;
  left: -8px;
  top: -48px;
  height: 60px;
  width: 1px;
  background-color: #c6c6c6;
}

.trash {
  height: 16px;
  width: 16px;
  opacity: 0;
}

.icons {
  display: flex;
  align-items: center;
  gap: 7px;

  padding: 3px 7px;
  border-radius: 6px;
}

.icons:hover {
  background-color: var(--color-darkslategray);
}

.icons:hover .trash {
  opacity: 1;
}
